<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<location path="2018/03/what-is-disposable-email-address.html">
		<system.webServer>
			<httpRedirect enabled="true" destination="https://www.emailhippo.com/resources/blog/what-is-a-disposable-email-address/" httpResponseStatus="Permanent" />
		</system.webServer>
	</location>
	<location path="2018/06/ip-address-blocking-by-magicspam.html">
		<system.webServer>
			<httpRedirect enabled="true" destination="https://www.emailhippo.com/resources/blog/ip-address-blocking-by-magicspam/" httpResponseStatus="Permanent" />
		</system.webServer>
	</location>
	<location path="2018/03/how-to-keep-your-inbox-clean-without.html">
		<system.webServer>
			<httpRedirect enabled="true" destination="https://www.emailhippo.com/resources/blog/how-to-keep-your-inbox-clean-without-using-a-disposable-email-address/" httpResponseStatus="Permanent" />
		</system.webServer>
	</location>
	<location path="2018/03/domains-explained-what-do-domains-say.html">
		<system.webServer>
			<httpRedirect enabled="true" destination="https://www.emailhippo.com/resources/blog/email-domains-what-do-email-domains-say-about-your-data/" httpResponseStatus="Permanent" />
		</system.webServer>
	</location>
	<location path="2017/12/client-side-email-validation-api.html">
		<system.webServer>
			<httpRedirect enabled="true" destination="https://www.emailhippo.com/resources/blog/client-side-api-email-validation/" httpResponseStatus="Permanent" />
		</system.webServer>
	</location>
	<location path="2017/10/5-easy-tips-to-grow-your-email-list.html">
		<system.webServer>
			<httpRedirect enabled="true" destination="https://www.emailhippo.com/resources/blog/ways-to-grow-your-email-list/" httpResponseStatus="Permanent" />
		</system.webServer>
	</location>
	<location path="2017/09/whats-best-email-marketing-service.html">
		<system.webServer>
			<httpRedirect enabled="true" destination="https://www.emailhippo.com/resources/blog/six-of-the-best-email-marketing-software-services/" httpResponseStatus="Permanent" />
		</system.webServer>
	</location>
	<location path="2017/09/email-hippo-trust-score-explained.html">
		<system.webServer>
			<httpRedirect enabled="true" destination="https://www.emailhippo.com/resources/blog/email-hippo-trust-score-explained/" httpResponseStatus="Permanent" />
		</system.webServer>
	</location>
	<location path="2017/08/email-domains-that-violate-rfc.html">
		<system.webServer>
			<httpRedirect enabled="true" destination="https://www.emailhippo.com/resources/blog/email-domains-that-violate-the-rfc-protocol/" httpResponseStatus="Permanent" />
		</system.webServer>
	</location>
	<location path="2017/06/more-email-validation-checks-out-dark.html">
		<system.webServer>
			<httpRedirect enabled="true" destination="https://www.emailhippo.com/resources/blog/email-validation-api-identifies-dark-web-addresses/" httpResponseStatus="Permanent" />
		</system.webServer>
	</location>
	<location path="2017/06/more-email-validation-new-product-your.htm">
		<system.webServer>
			<httpRedirect enabled="true" destination="https://www.emailhippo.com/resources/blog/more-api-new-product-features-announced/" httpResponseStatus="Permanent" />
		</system.webServer>
	</location>
	<location path="2017/06/email-deliverability-explained-book.html">
		<system.webServer>
			<httpRedirect enabled="true" destination="https://www.emailhippo.com/resources/blog/email-deliverability-and-how-to-improve-your-delivery-rates/" httpResponseStatus="Permanent" />
		</system.webServer>
	</location>
	<location path="2017/06/welcome-to-emailfakecom.html">
		<system.webServer>
			<httpRedirect enabled="true" destination="https://www.emailhippo.com/resources/blog/welcome-to-emailfakecom/" httpResponseStatus="Permanent" />
		</system.webServer>
	</location>
	<location path="2017/02/the-eu-us-privacy-shield-and-email-hippo.h">
		<system.webServer>
			<httpRedirect enabled="true" destination="https://www.emailhippo.com/resources/blog/the-eu-us-privacy-shield-and-email-validation/" httpResponseStatus="Permanent" />
		</system.webServer>
	</location>
	<location path="2017/01/information-security-systems-in-email.html">
		<system.webServer>
			<httpRedirect enabled="true" destination="https://www.emailhippo.com/resources/blog/iso-27001-accreditation-for-information-processing-systems/" httpResponseStatus="Permanent" />
		</system.webServer>
	</location>
	<location path="2016/11/data-we-supply-about-your-emails.html">
		<system.webServer>
			<httpRedirect enabled="true" destination="https://www.emailhippo.com/resources/blog/sata-we-supply-about-email-addresses-on-lists/" httpResponseStatus="Permanent" />
		</system.webServer>
	</location>
	<location path="2016/11/emailondeck-blacklisted-in-spamhaus.html">
		<system.webServer>
			<httpRedirect enabled="true" destination="https://www.emailhippo.com/resources/blog/emailondeck-blacklisted-in-spamhaus/" httpResponseStatus="Permanent" />
		</system.webServer>
	</location>
	<location path="2016/02/omnivore-warning-from-mailchimp-account.ht">
		<system.webServer>
			<httpRedirect enabled="true" destination="https://www.emailhippo.com/resources/blog/omnivore-warning-from-mailchimp-account-issue-what-to-do-to-get-back-on-track/" httpResponseStatus="Permanent" />
		</system.webServer>
	</location>
	<location path="2016/10/uceprotect-email-hippo-views-and-update.ht">
		<system.webServer>
			<httpRedirect enabled="true" destination="https://www.emailhippo.com/resources/blog/uceprotect-email-hippo-views-and-update-to-our-services/" httpResponseStatus="Permanent" />
		</system.webServer>
	</location>
	<location path="2016/08/is-it-safe-to-validate-emails-in-cloud.htm">
		<system.webServer>
			<httpRedirect enabled="true" destination="https://www.emailhippo.com/resources/blog/is-it-safe-to-validate-emails-in-the-cloud/" httpResponseStatus="Permanent" />
		</system.webServer>
	</location>
	<location path="2016/06/what-is-email-verification.html">
		<system.webServer>
			<httpRedirect enabled="true" destination="https://www.emailhippo.com/resources/blog/what-is-email-validation/" httpResponseStatus="Permanent" />
		</system.webServer>
	</location>
	<location path="2016/06/email-tumbling-what-is-it-and-should.html">
		<system.webServer>
			<httpRedirect enabled="true" destination="https://www.emailhippo.com/resources/blog/what-is-email-tumbling/" httpResponseStatus="Permanent" />
		</system.webServer>
	</location>
	<location path="2016/05/online-fraud-is-evolving-what-can-you.html">
		<system.webServer>
			<httpRedirect enabled="true" destination="https://www.emailhippo.com/resources/blog/measuring-online-fraud/" httpResponseStatus="Permanent" />
		</system.webServer>
	</location>
	<location path="2016/05/email-hippo-report-codes-explained-for.htm">
		<system.webServer>
			<httpRedirect enabled="true" destination="https://www.emailhippo.com/resources/blog/email-validation-results-codes-explained-for-non-technical-readers/" httpResponseStatus="Permanent" />
		</system.webServer>
	</location>
	<location path="2016/04/when-email-opting-in-causes-marketing.html">
		<system.webServer>
			<httpRedirect enabled="true" destination="https://www.emailhippo.com/resources/blog/double-opt-in-causes-marketing-pain-or-how-to-resist-pressure-to-do-bad-marketing/" httpResponseStatus="Permanent" />
		</system.webServer>
	</location>
	<location path="2016/02/disposable-email-addresses-good-or-bad.htm">
		<system.webServer>
			<httpRedirect enabled="true" destination="https://www.emailhippo.com/resources/blog/disposable-email-addresses-good-or-bad/" httpResponseStatus="Permanent" />
		</system.webServer>
	</location>
	<location path="2016/03/what-do-chargebacks-cost-business.html">
		<system.webServer>
			<httpRedirect enabled="true" destination="https://www.emailhippo.com/resources/blog/the-real-cost-of-credit-card-chargebacks-on-your-business/" httpResponseStatus="Permanent" />
		</system.webServer>
	</location>
	<location path="2016/03/what-is-credit-card-chargeback.html">
		<system.webServer>
			<httpRedirect enabled="true" destination="https://www.emailhippo.com/resources/blog/what-is-a-credit-card-chargeback/" httpResponseStatus="Permanent" />
		</system.webServer>
	</location>
	<location path="2016/02/a-beginners-guide-to-email-jargon.html">
		<system.webServer>
			<httpRedirect enabled="true" destination="https://www.emailhippo.com/resources/blog/beginners-guide-to-email-jargon/" httpResponseStatus="Permanent" />
		</system.webServer>
	</location>
	<location path="2018/04/mailchimp-omnivore-warning-update-on.html">
		<system.webServer>
			<httpRedirect enabled="true" destination="https://www.emailhippo.com/resources/blog/how-to-upload-email-addresses-without-getting-a-mailchimp-omnivore-warning/" httpResponseStatus="Permanent" />
		</system.webServer>
	</location>
	<location path="2017/11/general-data-protection-regulation-gdpr.ht">
		<system.webServer>
			<httpRedirect enabled="true" destination="https://www.emailhippo.com/resources/blog/general-data-protection-regulation-gdpr-iso-27001-and-email-hippo/" httpResponseStatus="Permanent" />
		</system.webServer>
	</location>
	<location path="2017/07/best-ways-to-stop-spam-in-your-inbox.html">
		<system.webServer>
			<httpRedirect enabled="true" destination="https://www.emailhippo.com/resources/blog/how-to-stop-spam-in-your-inbox-without-using-a-disposable-email-address/" httpResponseStatus="Permanent" />
		</system.webServer>
	</location>
</configuration>
