<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<location path="2018/03/what-is-disposable-email-address.html">
		<system.webServer>
			<httpRedirect enabled="true" destination="https://www.emailhippo.com/resources/blog/what-is-a-disposable-email-address/" httpResponseStatus="Permanent" />
		</system.webServer>
	</location>
	<location path="2018/06/ip-address-blocking-by-magicspam.html">
		<system.webServer>
			<httpRedirect enabled="true" destination="https://www.emailhippo.com/resources/blog/ip-address-blocking-by-magicspam/" httpResponseStatus="Permanent" />
		</system.webServer>
	</location>
	<location path="2018/04/mailchimp-omnivore-warning-update-on.html">
		<system.webServer>
			<httpRedirect enabled="true" destination="https://www.emailhippo.com/resources/blog/mailchimp-omnivore-warning-update-on-what-to-do/" httpResponseStatus="Permanent" />
		</system.webServer>
	</location>
</configuration>